body{
    background-color: #cd7433;
    font-family: "Scope One", serif;
}

img {
  max-width: 100%; 
  height: auto;   
  display: block; 
}
.scope-one-regular {
  font-family: "Scope One", serif;
  font-weight: 400;
  font-style: normal;
}
